.NextSectionLink {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 111;
  left: 0;
  color: rgba(75, 85, 99, 1);
  cursor: pointer;
  padding: .5rem;
  font-weight: 600;
  bottom: 3rem;
  text-align: center;
  img {

  }
}
