.card__text {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
.news__card {
  display: grid;
  gap: 2rem;
  .card__img, .card__tags {
    grid-row: 1/2;
  }
  .card__tags {
    position: absolute;
    padding: 1.25rem;
  }
  .card__date {
    @apply text-secondary3;
  }

  .card__title {

    font-size: 1rem;
    font-weight: 600;
    display: inline;

    h4 {
      display: block;
      @apply text-secondary3;
      //border-bottom: 2px solid transparent;
      &:hover {
        border-color: #ffffff;
        color: #ffffff;
      }
    }
  }
  &.horizontal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    row-gap: 0;
    margin-bottom: 2rem;
    .card__img {
      img {
        width: 100%;
      }
    }
    h4 {
      margin: 1rem 0 1.5rem;
    }
    @media screen and (min-width: 768px){
      h4 {
        margin: 0 0 1.5rem;
      }
      .card__img {
        img {
          width: 100%;
        }
      }
      .card__date {
        margin-top: 1rem;
      }
      grid-template-columns: 375px 1fr;
    }
    .card__text {

    }
    .card__date {
      @apply text-gray-500 font-semibold;
    }
    .card__title {
      align-self: start;
      h4 {
        @apply text-base;
      }
    }
    .card__img {
      grid-row: 1/4;
    }
  }
}
.card.feature-series {
  color: white;
  fill: white;
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  padding: 1.25rem;
  gap: 1rem;
  text-align: initial !important;

  &:nth-child(1) {
    background-color: rgba(247, 107, 5, 0.95);
  }
  &:nth-child(2) {
    background-color: rgba(80, 189, 59, 0.95);
  }
  &:nth-child(3) {
    background-color: rgba(255, 71, 64, 0.95);
    text-align: initial;
  }
  .card__text {
    @apply text-sm;
  }
  .card__img {
    opacity: 1 !important;
    order: -1;
  }
}

.card__properties {
  &.card_not_inbox {
    span {
      min-width: initial;
      min-height: initial;
    }
  }
  .card__dd {
    span {
      display: inline-flex;
      margin-right: .25rem;
    }
  }
}
.card_calc {
  grid-column: span 4;
  padding: 1.5rem;
  height: 136px;
  cursor: pointer;
  @media screen and (min-width: 768px) and (max-width: 1199px){
    grid-column: span 4;
    //&:nth-child(2n + 1) {
    //  margin-right: calc(0px - (var(--gridGap) * 2) / 3);
    //}
    //&:nth-child(2n + 2) {
    //  margin: 0 calc(0px - (var(--gridGap)) / 3);
    //}


  }
  @media screen and (min-width: 1280px ) {
    grid-column: span 4;
    &:nth-child(3n + 1) {
      margin-right: calc(0px - (var(--gridGap) * 2) / 3);
    }
    &:nth-child(3n + 2) {
      margin: 0 calc(0px - (var(--gridGap)) / 3);
    }
    &:nth-child(3n + 3) {
      margin-left: calc(0px - (var(--gridGap) * 2) / 3);
    }

  }
   @media screen and (min-width: 1366px){
    grid-column: span 3;

  }


  @apply outline-1 outline-gray-400 relative overflow-hidden outline flex justify-between;
  h4 {
    @apply uppercase text-gray-600 font-bold text-xl;
  }
  span {
    @apply  text-gray-600 font-normal;
  }
  svg {
    transform: translateX(-30rem);
    position: absolute;
    bottom: 2px;
    transition: all .25s ease-in-out;
  }

  &:before {
    content: "";

    opacity:1;
    /* left: 0; */
    /* right: 0; */
    width: 100%;
    min-width: 40rem;
    transform: translateX(-110%);
    height: 4px;
    display: block;
    transition: all 0.25s ease-in-out;
    position: absolute;
    bottom: -1px;
    @apply bg-primary ;
  }
  &[data-active="true"] {

      h4 {
        @apply text-primary;
      }

    &:before {
      opacity: 0;
    }
    @apply outline-2 outline-primary ;
    svg {
      transform: translate(10rem);
      path {
        @apply fill-primary ;
      }

      transition: all .25s ease-in-out;
    }
  }
  &:hover {
    position: relative;
    z-index: 222;
    &:before {

      transform: translateX(-10%);
      transition: all .25s ease-in-out;
    }

    svg {
      transform: translate(10rem);
      path {
        @apply fill-primary ;
      }

      transition: all .25s ease-in-out;
    }
  }
}
.card.about-card {
  z-index: 15;
  outline: 1px solid #FFFFFF66;
  outline-offset: -1px;
  position: relative;
  padding: 3rem 2rem;
  display: grid;
  .card__img     {
    justify-self: end;
  }
  svg {
    margin-left: 8px;
    color: white;
  }
  .card__title {
    font-size: 1.5rem;
    max-width: 20rem;
  }
  &:first-child {
    background: #FF271E80;
    display: flex;
    align-items: center;
    .card__title {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: -1%;
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      grid-auto-columns: minmax(223px, 100%);
    }
  }
  &:last-child {
    background: #0D469380;
    display: flex;
    align-items: center;
    .card__title {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: -1%;
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      grid-auto-columns: minmax(auto, 100%);

    }
  }
}
.card.card-product{
  &.related {
    .card__container {
      padding: 0;
      grid-template-rows: auto 3rem 2.25rem;
      border: 0;
    }
    .card__title {
      h4 {

        color: black;
        font-weight: 600;
      }
    }
      .card__category {
        order: 3;
        @apply text-gray-600 pt-4;
      }
  }
}
.cards__partner {

}
.card__partner {
  &:before {
    content:  counters(list-item, ".") " ";
    @apply text-primary text-3xl font-bold;
  }
}
.card_vertical.card-product {
  grid-template-rows: min-content;
  max-height: 380px;
  grid-column: span 4;
  @apply xl:col-span-3;
  height: 100%;
  .card__title {
    padding-top: 2rem;
    display: block;
    h3 {
      font-size: 1.125rem;
      font-weight: 600;
    }
    &:before {
      transition: all .25s .35s ease-in-out;
      content: 'Подробнее';
      position: absolute;
      @apply bg-primary;
      color: white;
      padding: 0.25rem .75rem;
      width: 8rem;
      border-top-right-radius: 12px;
      //left: -2rem;
      margin-top: -2.5rem;
      text-align: center;
      transform: translate(-150%, 0);
    }
  }
  position: relative;
  & > *:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: -2;
    right: 0;
    bottom: 0;
    /* background: red; */
    /* height: max-content; */
    opacity: .1;

  }
  grid-template-columns: initial;
  .card__container {
    display: block;
    overflow: hidden;
    grid-template-columns: initial;
    transition: all .25s ease-in-out;
  }
  .card__img{
    aspect-ratio: 280/230;
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slidePanel {
    opacity: 1;
    max-height: 300px;
    height: 100%;
    transform: translateY(-300px);
    transition: all 0.15s ease-in-out;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);


  }
  &:hover {
    img {
      scale: initial;
    }
  }
  &[data-sp="true"]:hover {
    .card__title {
      &:before {
        transition: all .25s .35s ease-in-out;
        transform: translate(0, 0);
      }
    }
    & > *:before {
      opacity: 1;
    }

    transition: all .15s ease-in-out;
    img {
      scale: initial;
    }
    .card__container {
      transform: translateY(-149px);
      border-bottom-color: transparent;
      transition: all .15s ease-in-out;
      padding-bottom: 0;
    }
    .slidePanel {
      transform: translateY(-150px);
      transition: all .15s ease-in-out;
      border: 1px solid rgb(209 213 219 / 1);
    }
  }
}
