@layer components {
  .section {
	&.section-default {
	  .section__title {
		margin-bottom: 2rem;
	  }
	}
	@apply xl:my-16;


	> &:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	> &:last-child {
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	> * {
	  grid-column: 2/-2;
	}
	& + section {
	  margin: 4rem 0;

	  @media screen and (min-width: 1280px){
		margin: 7.5rem 0;
	  }
	}
	.section__shortText {
	   > *:first-child {
		margin-top: 0;
	  }
	  > *:last-child {
		margin-bottom: 0;
	  }

	}
	&.screen {
	 	@media screen and (min-width: 1280px){
		  margin: 0 30px;

		}
	  &:before {
		content: '';
		display: block;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
		grid-column: 2/-2;
		grid-row: 1/5;
		position: relative;
		z-index: 1;
	  }
		//grid-template-rows: repeat(3, 1fr);
		background: #FFFFFF66;
		gap: 1px;
		position: relative;
		margin-top: 0;

	  .next_link {
		left: calc(50% - 0.75rem);
		color: rgba(243, 244, 246, 1);
		&:hover {
		  @apply text-primary bg-white;
		  path {
			@apply fill-primary;
		  }
		}
		path {
		  fill:  rgba(243, 244, 246, 1);
		}
	  }
	  .section__title {
		border: 1px solid #ffffff30;
		@apply col-start-2 lg:col-end-10 block col-span-4;
		grid-row: 1/2;
		z-index: 10;
		@media screen and (min-width: 768px){
		 grid-column:  2 / span 5
		}
		@media screen and (min-width: 1280px){
		  padding: 2rem 3rem 2rem 0;
		  grid-column:  2 / span 8
		}

		padding: 1rem 0;
		background: white;
		@apply text-lg md:text-xl xl:text-3xl md:mb-0;

		letter-spacing: -0.005em;
		font-weight: 600;
		&:first-line {
		  @apply text-primary;
		  display: block;
		}

	  }
	  .section__shortText {

		grid-column: 2/-2;
		grid-row: 2/3;
		z-index: 10;
		display: flex;
		align-items: center;
		padding: 1rem;
		font-size: 1rem;
		line-height: 1.375rem;
		color: white;
		font-weight: 400;
		background: #00000030;
		border: 1px solid #ffffff30;
		@media screen and (min-width: 768px){
		  grid-column: 7/-2;
		  grid-row: 1/2;
		}
		@media screen and (min-width: 1280px){
		  grid-column: 10/-2;
		  grid-row: 1/2;
		  padding:  0 2.5rem;
		  font-size: 1.125rem;
		}
	  }
	  .section__cards {
		grid-row: 4/5;
		z-index: 20;
		display: grid;

		@media screen and (min-width: 1280px){
		  grid-template-columns: repeat(3, 1fr);
		  grid-row: 2/5;
		}
		.card {
		  z-index: 50;
		  padding: 1rem;
		  display: grid;
		  gap: .5rem;
		  @media screen and (min-width: 1280px){
			gap: 2rem;
		  }

		  color: white;
			&.HOVER {
				&:hover {
					.card__img {
						opacity: 1;
					}
				}
			}
		  @media screen and (min-width: 1280px){
			padding: 3rem 2rem 2rem;
		  }
		  .card__title {
			text-transform: uppercase;
			line-height: 36px;
			margin: 0;
			font-weight: 600;

			display: flex;
			align-items: center;

			&:before {
			  content: '';
			}
			h2 {
			  font-size: 1.375rem;
			  margin: 0.5rem 0 1rem;
			  @media screen and (min-width: 1280px){
				font-size: 2rem;
				margin: 0;
			  }

			  & + svg {
				margin-left: 8px;


				path {
				  color: white;

				}
			  }
			}
		  }
		  .card__text {
			font-weight: 600;
			line-height: 1.5;
			position: relative;
		  }
		  .card__img {
			justify-self: center;
			align-self: center;
			opacity: 0;
			display: none;
			@media screen and (min-width: 1280px){
			  display: block;
			}
		  }
		  grid-template-rows: auto auto 1fr;
		  &:nth-child(2) {
			border-left: 1px solid #ffffff30;
			border-right: 1px solid #ffffff30;
		  }

		}
	  }
	  .section__media {
		grid-row: 1/5;

		background: linear-gradient(#000000, #00000000);

	  }
	}
	&.about {
	  margin-bottom: 0;
	  grid-template-rows: auto ;
	  row-gap: 2rem;
	  @media screen and (min-width: 1280px){
		grid-template-rows: auto repeat(2, 1fr);
		row-gap: 4rem;
	  }
	  .section__title {
		grid-column: 2/span 4;
	  }
	  .section__shortText {
		grid-column: 2/-2;
		grid-row: 2/3;
		@media screen and (min-width: 1280px){
		  grid-column: 6/-2;
		}
	  }
	  .section__cards, .section__media {
		grid-row: 3/5;
		@media screen and (min-width: 1280px){
		  grid-row: 2/4;
		}

	  }
	  .section__media {

		grid-column: 1/-1;
		width: 100%;

		position: relative;

		@media screen and (min-width: 1280px){
		  grid-row: 2/4;
		}
		@media screen and (min-width: 1280px){
		  grid-row: 2/4;
		}

		overflow: hidden;
		height: 100%;
		img {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		}
		&:after {
		  content: '';
		  display: block;
		  position: absolute;
		  background-color: #00000060;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		}
	  }
	  .section__cards {
		display: grid;

		padding: 3rem 0;
		@media screen and (min-width: 768px){
		  grid-template-columns: repeat(2, 1fr);
		  grid-template-rows: repeat(3, 1fr);
		  padding: 8rem 0;

		}
		@media screen and (min-width: 1280px){
		  grid-template-columns: repeat(3, 1fr);
		  grid-template-rows: repeat(2, 1fr);
		  padding: 8rem 0;

		}
	  }

	  .card.about-card:not([class*="HOVER"]) {
		display: grid;
		grid-template-rows: auto 1fr;
		.card__title {
		  max-width: 240px;
		  font-size: 1.125rem;
		  font-weight: 600;
		  color: white;
		  h2, h3 {
			font-size: 1.125rem;
			font-weight: 600;
			color: white;
		  }
		}
		.card__img {
		  justify-self: end;
		  img {
			opacity: 1 !important;
		  }
		}
	  }
	}
	&.products {
	grid-template-rows: auto repeat(2, 1fr);
	row-gap: 4rem;
	.section__title {
	  grid-column: 2/span 4;
	}
	.section__shortText {
	  grid-column: 6/-2;
	}
	.section__cards, .section__media {
	  grid-row: 2/4;
	}
	.section__cards {
	  display: grid;
	  margin: 0 -3.75rem;
		gap: 0;
	  grid-template-columns: repeat(3, 1fr);
	  grid-template-rows: 496px 8rem;
		position: relative;
	  overflow: hidden;
	  &:hover {
		.section__background {
		  opacity: 1;
		  transition: opacity 0.7s .25s;
		}
	  }
	  .section__background {
		opacity: 0;

		grid-column: 1/-1;
		grid-row: 1/4;
		position: absolute;
		transition: opacity 0.7s .35s;

		img {
		  object-fit: cover;
		  height: 100%;
		}

	  }
	  .card {
		@apply outline-[#00000020] outline-1  outline pt-12 px-16;
		outline-offset: -1px;
		z-index: 5;
		&:last-child {
		  grid-column: 1/-1;
		  @apply text-center;
		}
		.card__title {
		  color: initial;
		  display: inline-flex;
		  align-items: center;
		  margin-bottom: 2rem;
		  line-height: 1;
		  font-size: 1.75rem;
		  h2, h3 {
			font-size: 1.75rem;
		  }

		}
		span {

		}
		 .card__img {
		  opacity: 0;
		   transition: opacity 0.7s .25s;
		}
		.card__text {
		  //opacity: 1;
		  position: relative;
		}
		&:nth-child(4) {
		  grid-column: 1/-1;
		  text-align: center;
		}
	  }
	}
  }
	&.geography {

	@apply bg-secondary mt-0;



	  padding: 3rem 0;

	  @media screen and (min-width: 1280px){
		padding: 7.5rem 0;
		grid-template-rows: auto 1fr;
		row-gap: 4rem;
	  }
	.section__title {
	  grid-column: 2/span 4;
	  color: white;
	  grid-row: 1/2;
	}
	.section__shortText {

	  grid-column: 2/-2;
	  color: white;
	  font-weight: 400;
	  position: relative;
	  grid-row: 2/3;
	  z-index: 1;
	  p {
		margin-top: 0;
	  }

	  @media screen and (min-width: 1280px){
		grid-column: 6/-2;
		max-width: 24rem;
		grid-row: 1/2;
	  }
	}
	.section__cards {

	  position: relative;
	  z-index: 1;
	  @media screen and (min-width: 1280px){
		grid-row: 2/3;
	  }
	}
	.section__media {

	  background-blend-mode: overlay;
	  opacity: 20%;
	  grid-column: 2/-2;
		overflow: visible;
	  grid-row: 1/5;
		position: relative;
	  @media screen and (max-width: 1279px) {
		img {
		  position: absolute;
		  width: auto;
		  height: 50%;
		  top: 20%;
		}
	  }
	  @media screen and (min-width: 1280px){

		img {
		  position: initial;
		}
	  }

	}
	.section__cards {

	  display: grid;
	  grid-column: 2/-2;
		gap: 2rem;
	  //padding: 8rem 0;
	  @media screen and (min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
	  }
	  @media screen and (min-width: 1280px){
		grid-column: 6/-2;
		grid-row: 3/4;

	  }
	}
	.geography__card {
	  position: relative;
	  .card__title {
		color: white;
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 1rem;
	  }
	  .card__text {
		font-size: 64px;
		font-weight: 600;
		letter-spacing: -2px;
		line-height: 1;
		@media screen and (min-width: 768px){
		  font-size: 80px;
		}
		@media screen and (min-width: 1280px){
		  font-size: 100px;
		}

		h4 {

		}
		p {
		  margin: 1rem 0 0;
		}
		color: #A8CDFF;
		i {
			font-style: normal;
		  font-size: 1rem;
		  bottom: 0;
		  color: white;
		  letter-spacing: initial;
		  margin-left: -.5rem ;
		  font-weight: initial;
		}
	  }
	}
  }
	&.related {
	  @apply bg-white;
	  @apply  mb-0 py-16 xl:py-[7.5rem];

	  @media screen and (min-width: 1024px){

	  }
	  @media screen and (min-width: 1280px){
		grid-template-rows: auto 1fr 12rem;
		grid-auto-flow: dense;
		@apply  pb-[15rem];
	  }
	  .sidbar__links {

	  }
	  .sidebar {

		 grid-column: 2/-2;
		display: flex;

		> a {
		  //max-width: 20rem;

		}
		 @media screen and (min-width: 768px){
		   grid-row: 2/3;
		   display: flex;
		   align-items: center;
		   justify-content: space-between;
		   > a {
			 max-width: fit-content;
		   }
		   > ul {
			 padding: 0;
			 margin-bottom: 0;
		   }
		 }
		 @media screen and (min-width: 1280px){
		   display: grid;
		   grid-row: 2/5;
		   grid-column: 2/span 4;
		   grid-template-rows: auto;
		 }
	   }
	  .section__cards {

		display: flex;

		overflow: hidden;
		position: relative;
		order: 4;
		@media screen and (min-width: 1280px){
		  grid-column: 6/-1;
		  grid-row: 1/4;
		  order: initial;
		}
		& + .sidebar {
		  grid-row: initial;
		}
	  }
	  .section__shortText {
		@apply text-gray-500;
	  }
	  @media screen and (min-width: 1280px){
	  .section__shortText {
		grid-column: 2/span 4;

		  grid-row: 2/3;
		}

		grid-template-rows: auto 1fr 20rem;
	  }

	  grid-auto-flow: dense;
	  row-gap: 2rem;
	  .section__title {
		grid-column: 2/span 4;
		@media screen and (min-width: 1280px){
		  grid-row: 1/2;
		}

	  }

	}
	&.news {
	  @apply bg-secondary mb-0 py-16 lg:py-[7.5rem];

	  @media screen and (min-width: 1024px){
		@apply  pb-[15rem];
	  }
	  @media screen and (min-width: 1280px){
		grid-template-rows: auto 1fr 12rem;
		grid-auto-flow: dense;
	  }
	  row-gap: 2rem;
	  .section__title {
		grid-column: 2/span 4;
		color: white;
		grid-row: 1/2;
	  }
	  .sidebar {
		grid-column: 2/-2;
		grid-row: 2/3;
		@media screen and (min-width: 768px){
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		  > ul {
			padding: 0;
			margin-bottom: 0;
		  }
		}
		@media screen and (min-width: 1280px){
		  display: grid;
		  grid-row: 2/5;
		  grid-column: 2/span 4;
		  grid-template-rows: auto 1fr;
		}
	  }
	  .section__cards {

		display: flex;

		overflow: hidden;
		position: relative;
		@media screen and (min-width: 1280px){
		  grid-column: 6/-1;
		  grid-row: 1/4;
		}
	  }
	}

	&.form_questions {

	  background: linear-gradient(61deg, rgba(12, 65, 145, 0) -33.91%, #0C4191 28.47%, #0C4191 63.89%, rgba(12, 65, 145, 0) 109.49%), url('/Technik_Black.jpg') no-repeat;
	  background-size: cover;
	  padding: 3rem 1rem;
	  max-width: var(--container);
	  margin: auto;
	  align-items: center;
	  @media screen and (min-width: 1280px){
		padding: 4rem 3.75rem;
		grid-template-columns: var(--gridinner);
		margin-bottom: -5rem;
		position: relative;
		margin-top: -11rem;

	  }
	  &.section {
		&.margintop {
		  margin-top: -14rem;
		}
		.section__title {
		  color: white;
		  font-size: 32px;
		  font-weight: 600;
		  line-height: 40px;
		  letter-spacing: -0.01em;
		  text-align: left;

		}
		gap: 1.5rem;
		.section__title{
		  grid-row: 1/2;
		  margin-bottom: .5rem;
		}
		.section__shortText {
		  grid-row: 2/3;
		  font-weight: 400;
		  color: white;
		  > * {
			margin: 0;
		  }
		}
		.section__title, .section__shortText {

		  @media screen and (min-width: 1280px){
			grid-column: 1/span 5;
		  }
		}

	  }
	}
	&:last-child {
	  padding-bottom: 7.5rem;
	}
	&.calc_result {
	  	grid-template-columns: var(--gridinner);
	 	margin-top: 2rem;
		.section__title {
			grid-column: 1/-1;
			margin-bottom: 1.5rem;
			@media screen and (min-width: 1366px){
				grid-column: span 3;

			}
		}
	  .section__text {
		grid-column: 6/span 5;
		grid-row: 1/3;
		@apply text-base;
	  }
	  .calc_series__annotation {
		grid-column: -3/-1;
		grid-row: 1/3;
		@apply text-sm;
	  }
	  .calc_series__info {
		grid-column: 4/span 2;
		grid-row: 1/3;
		display: grid;
		align-items: start;
		grid-template-rows: auto 1fr;
		gap: 1.5rem;
	  }
		.section__shortText {
			grid-column: 1/-1;
			margin-bottom: 1.5rem;
			@media screen and (min-width: 1366px){
				grid-column: span 3;
				grid-row: 2/3;

			}
		}

	  .result__table {

		@media screen and (min-width: 1366px){
		  grid-column: 4/-1;
		  grid-row: 3/4;
		}
		grid-column: 1/-1;
		padding: 24px 32px 24px 32px;
		gap: 2rem;
		display: grid;
		border: 1px solid;
		@apply border-gray-400;

	  }

	}
	&.page-catalog-category {
	  margin-top: 0;
	}
  }
}
main {
  & + section {
	margin-top: 7.5rem;
  }
  .section__upTitle + .section__title {
	h1 {
	  margin-top: 0;
	  margin-bottom: 1rem;
	}
  }
  .section__upTitle {
	margin-top: 1.5rem;

	@apply text-gray-600 font-bold;
  }
  &.mainPage {

	.section__cards {
	  grid-column: 1/-1;
	  display: grid;
	  gap: 0;
	  @apply 1.5xl:col-start-2 1.5xl:col-end-[14];
		//grid-template-rows: repeat(4, minmax(200px, auto));
	  position: relative;
	  margin: 4rem 0;
	  overflow: hidden;


	  &:hover {
		  & .card__title {
			opacity: 1;

		  }
		.section__background {
		  opacity: 1;
		  transition: opacity 0.7s .35s;
		}
	  }
	  @media screen AND (max-width: 1023px){
		.card__title, .card__text {
		  position: relative;
		  z-index: 12132131;
		  color: white;
		  opacity: 1;
		  margin-bottom: 1rem;
		  * {
			position: relative;
			z-index: 12132131;
			color: white;
			opacity: 1;
		  }
		}
		.card__img {
		  &:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

		  }
		  top: 0;
		  bottom: 0;
		  left: 0;
		  z-index: 1;
		  right: 0;

		  opacity: 1 !important;
		  img {
			height: 100%;
			object-fit: cover;
		  }
		}
	  }

	  .section__background {
		opacity: 0;
		grid-column: 1/-1;
		height: 100%;
		grid-row: 1/5;
		position: absolute;
		object-fit: contain;
		transition: opacity 0.7s .35s;
		img {
		  object-fit: cover;
		  height: 100%;
		}

	  }


	  .card {
		overflow: hidden;
		position: relative;
		@apply outline-[#00000020] outline-1 outline lg:py-12 lg:px-16 py-8 px-4;
		outline-offset: -1px;
		z-index: 5;
		.card__text {
		  color: red;
		  :first-child {
			margin-top: 0;
		  }
		  *:last-child {
			margin-bottom: 0;
		  }
		  //display: -webkit-box;
		  //-webkit-box-orient: vertical;
		  //-webkit-line-clamp: 3; /* From which line on to truncate */
		  //overflow: hidden;
		}
		&:last-child {
		  grid-column: 1/-1;
		  @apply text-center;
		}
		.card__title {
		  @apply mb-4 lg:mb-8;
		  color: initial;
		  display: inline-flex;
		  align-items: center;

		  line-height: 1;
		  overflow: visible;
		  font-size: 1.75rem;
		  h2, h3, svg {
			transition: color 0.7s;
			font-size: 1.75rem;
		  }
			&:before {
			  content: "";
			  position: absolute;
			  width: 100vw;
			  height: 100vh;
			  left: -20vw;
			}
		}
		&:hover {
		  h2, h3, svg, .card__text {
			transition: color 0.7s;
		  	@apply text-white;
		  }

		  .card__title, .card__imglogo  {
			transition: opacity 0.7s;
			  opacity: 1;
		  }

		}

		.card__imglogo {
			@apply hidden lg:flex bottom-0 right-4 top-0 items-center;
		}
		span {

		}
		  .card__img {
			  position: absolute;
		  }
		.card__img, .card__imglogo  {
		  opacity: 0;

		  transition: opacity 0.7s;
		}
		.card__text {
			transition: color 0.7s;
		  color: transparent;
		  max-width: 640px;
		  position: relative;
		}

	  }
	}
  }
}

.products-container {
  grid-column: 5/-2;
  display: grid;

  grid-template-columns: subgrid;
  gap: 0;

}

.mySwiper2, .mySwiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  max-width: 100%;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.mySwiper {

}

.mobile-menu_top {
  h4 {

  }
  a {
	font-size: 1.25rem;
  }
  button {

  }
   + * {
	a {
	  font-size: 1.25rem !important;
	}
  }
}
.parternership_one {
  padding-top: 0;
  margin-top: 0  !important;
  .section__cards {
	grid-column: 5/-2;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;

  }
}
.parternership_two {
  .section__title {
	grid-column: 2/4;
	font-size: 1.5rem;
  }
  .section__cards {
	grid-column: 5/-2;

  }
  .cards__partner {
	padding: 0;
	margin: 0;
	list-style: none;
	gap: 2rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  }
}
