.container {
	display: flex;
	gap: 1rem;
	margin-top: 1.5rem;
	grid-column: 2/6;
	align-items: flex-end;
  @media screen and (max-width: 1199px) {

	grid-column: 2/-2;
	order: 6;
	margin-top: 2rem;
  }
}
.icon {
	color: #9CA3AF;
	@apply transition;
	&:hover {
		@apply text-primary scale-110 transition;
	}
}
