.container {
	display: grid;
	grid-template-columns: var(--grid);
  gap: 0;
  margin: 4rem 0;

  @media screen and (min-width: 1280px){
	gap: 0 var(--gridGap);
  }
  	> *:not([class^="inner_menu"]), > .container {

		@media screen and (max-width: 1199px){
			//margin: 0;
			max-width: 100%;
			width: 100%;
		}
  }
	> h1, h2, h3, h4 {
	  line-height: 1.25;
		margin-bottom: 2rem;
	}
}
.text {
  display: block;
  //font-size: 2rem;
}
.shortText {
  display: block;
  //font-size: 1rem;
}
.cards {
	box-sizing: border-box;
}
.mainPage {
  @apply py-12;
  @media screen and (min-width: 1280px){
	padding: 4rem 0 7.5rem;
  }

}
.media {
  box-sizing: border-box;
}
.mainProduct {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: var(--grid);
  gap: 0 var(--gridGap);
}
